# Server configurations
server:
  host: "localhost"
  port: ":10000"
  server_cert: "app.trader-go.io.crt"
  server_key: "app.trader-go.io.key"

# Database credentials
database:
  name: "trader_go"
  host: "127.0.0.1"
  port: "3306"
  user: "tradergo"
  pass: "xxx"